@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lobster&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: Inter;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  border-bottom: 1px solid rgb(204, 197, 197);
}

.logo {
  font-family: Lobster;
  font-weight: 400;
  font-size: 24px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 60px;
}

.social-Media {
  display: flex;
  width: 140px;
  display: flex;
  justify-content: space-between;
}

span {
  color: orangered;
}

.slide-container {
  display: flex;
  flex-direction: row;
}

.container-slide {
  background-color: #e7fafe;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  background-image: url(./assets/baked-chicken-wings-asian-style-tomatoes-sauce-plate\ 1.png);
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 620px;
  padding: 50px;
  background: #e7fafe;
  position: relative;
}

.badge {
  position: absolute;
  top: 40px;
  left: 532px;
}

.hot-recipes {
  background-color: white;
  border-radius: 40px;
  border: none;

  font-size: 14px;
  font-family: inter;

  margin-left: 3px;
  margin-right: 5px;
  width: 156px;
  height: 45px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 64px;
  font-style: semi-bold;
}

.content p {
  font-family: inter;
  font-weight: 400px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.btn {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;

  width: 274px;
}

.btn button {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inter;
  font-weight: 500px;
  background-color: #0000000d;

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 139px;
  height: 40px;

  border: none;
  border-radius: 30px;
}

.btn .chicken-btn {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inter;
  font-weight: 500px;
  background-color: #0000000d;

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 119px;
  height: 40px;

  border: none;
  border-radius: 30px;
}

.contant {
  width: 610px;
}

.container-view-recipes .user {
  display: flex;
}

.container-view-recipes {
  margin-top: 104px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-view-recipes button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 60px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 16px;
  border: none;
}

.container-view-recipes button img {
  margin-left: 15px;
}

.container-view-recipes .profile-info {
  margin-left: 16px;
}

.user {
  height: 50px;
}

.container-view-recipes .profile-info p {
  font-family: inter;
  font-size: 14px;

  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  margin-top: 8px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.container-view-recipes .profile-info h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.categories {
  margin-top: 122px;
}

.title-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
}

.title-categories h1 {
  font-family: "Inter";
  font-size: 48px;
  margin-left: 60px;
}

.title-categories button {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 16px;
  margin-right: 60px;

  background-color: #e7fafe;
  color: #000000;

  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
}

.list-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.list-categories img {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 100px;
}

.list-categories li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 202px;
  margin-right: 10px;
}

.list-categories .name {
  margin-top: 30px;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
}

.list-categories .Breakfast {
  background: linear-gradient(
    180deg,
    rgba(112, 130, 70, 0) 0%,
    rgba(112, 130, 70, 0.1) 100%
  );
  border-radius: 30px;
}

.list-categories .Vegan {
  background: linear-gradient(
    180deg,
    rgba(108, 198, 63, 0) 0%,
    rgba(108, 198, 63, 0.1) 100%
  );
  border-radius: 30px;
}

.list-categories .Meat {
  background: linear-gradient(
    180deg,
    rgba(204, 38, 27, 0) 0%,
    rgba(204, 38, 27, 0.1) 100%
  );
  border-radius: 30px;
}

.list-categories .Dessert {
  background: linear-gradient(
    180deg,
    rgba(240, 158, 0, 0) 0%,
    rgba(240, 158, 0, 0.1) 100%
  );
  border-radius: 30px;
}

.list-categories .Lunch {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
  border-radius: 30px;
}

.list-categories .Chocolate {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
  border-radius: 30px;
}

.title-recipes {
  margin-top: 183px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  flex-wrap: wrap;
}

.list-recipes .order {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
  border-radius: 30px;

  margin-bottom: 40px;
}

.list-recipes img {
  display: flex;

  margin-left: 8px;
}

.list-recipes li {
  display: flex;
  flex-direction: column;
}

.description-recipes {
  font-family: "Inter";
  font-weight: 600;
  font-size: 24px;
  margin-top: 24px;
  margin-left: 16px;
  margin-bottom: 24px;
}

.links .fork {
  width: 8.25px;
  height: 19.5px;
}

.links .knife {
  width: 6.75px;
  height: 19.5px;
}

.links .counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 130px;
  height: 24px;
}

.counter .timer {
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 24px;
  height: 24px;
}

.counter p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
}

.links {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.chicken {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chicken p {
  margin-left: 10px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
}
.order {
  width: 400px;
  height: 434px;
}
.chef .image-chef {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
}

.chef {
  margin-top: 221px;
  width: 1200px;
  height: 597px;
}
.description-chef h1 {
  margin-top: 148px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
  display: flex;
  justify-content: flex-start;
}

.description-chef p {
  width: 485.08px;
  height: 68.2px;
  margin-top: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: rgba(0, 0, 0, 0.6);
}
.description-chef .learn-more {
  margin-top: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 16px;
  border: none;
}
.checkout-instagram {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
}
.checkout-instagram h1 {
  margin-top: 75px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.checkout-instagram p {
  width: 485.08px;
  height: 68.2px;
  margin-top: 48px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: rgba(0, 0, 0, 0.6);
}
.perfil-instagram {
  margin-top: 84px;
  margin-top: 84px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.checkout-instagram .view-instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 16px;
  border: none;
  margin-top: 80px;
  margin-bottom: 80px;
}
.view-instagram img {
  margin-left: 18px;
}

.recipes-day {
  width: 100%;
}
.recipes-day .description-recipes-day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
}

.recipes-day h1 {
  width: 503.71px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
}
.recipes-day p {
  margin-left: 130px;
  margin-right: 40px;
}
.img-recipes-day {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
}
.img-recipes-day img {
  margin-top: 40px;
}
.container_imbox {
  width: 100%;
  padding: 0 40px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.imbox {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 442px;
  border-radius: 40px;
  background-image: url(./assets/imagem\ comida.png);
  background-repeat: no-repeat;
}
.address {
  margin-top: 68px;
  position: relative;
  width: 480px;
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.address input {
  margin-left: 32px;
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 20px;
}
.address button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 16px;
  border: none;
}
.imbox h1 {
  width: 503.71px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 35px;
  margin-top: 89px;
}
.imbox p {
  width: 485.08px;
  height: 68.2px;
  margin-top: 34px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: rgba(0, 0, 0, 0.6);
}

footer {
  padding: 80px;
}

footer .contact {
  width: 100%;
  margin-top: 74px;

  display: flex;
  justify-content: space-between;
}
footer p {
  margin-top: 29px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

footer .footer {
  display: flex;
  width: 397.41px;
  justify-content: space-around;
}

.copy-social-midia {
  margin-top: 123px;
}

footer .social-Media-footer {
  display: grid;
  grid-template-columns: 85% 5% 5% 5%;
}
footer .social-Media-footer img {
  margin: 0 !important;
}
footer .copyright {
  margin-top: 0px;
  margin-left: 18%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
